
<%= simple_form_for :session, :url => "/sessions", :defaults => {:label => false}, :html => { :class => "animated fadeIn", :id => "frm_login" } do |f| %>

  <%= f.input :email, :wrapper => :webarch_half %>
  <%= f.input :password, :wrapper => :webarch_half %>
  <div class="col-md-12 col-sm-12">
    <%= f.button :magic_submit %>
  </div>

<% end %>


