<%# add navigation links to this file %>
<% if current_user %>
  <li><%= link_to "Mi Perfil", show_path %></li>
  <li class="divider"></li>
  <li><a data-method="delete" href="<%= url_for logout_path %>"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Salir</a></li>
<% else %>
  <li><%= link_to "Sign Up", signup_path %></li>
  <li><%= link_to "Sign In", login_path %></li>
<% end %>
